* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100vw;
  background-image: url('../../../assets/ultra-wide.jpg');
  background-size: cover;
  background-position: center;
}

.intro h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px -2px black;
  font-weight: normal;
  margin-bottom: 50px;
}

.intro h2 {
  color: white;
  margin-top: 0;
  font-weight: normal;
  font-size: 2.5rem;
  text-shadow: 2px -2px black;
  transform: translateY(-26px);
}

.description {
  display: block;
  position: relative;
  margin-top: 50px;
  width: 300px;
  left: 50%;
  transform: translateX(-50%);
}

.description h2 {
  color: var(--theme-color);
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 2rem;
  transform: translateX(13%);
}

.description p {
  color: var(--text-color);
  text-align: center;
}

.bottom-image {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  height: 300px;
  margin-top: 60px;
  border-radius: 10px;
  background-image: url('../../../assets/office-wide.jpg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 850px) {
  .intro {
    margin-top: 80px;
    height: 300px;
  }
}