* {
  box-sizing: border-box;
}

:root {
  --right-image-width: calc(100vw - 600px);
}

.main-about {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 400px;
  width: 100vw;
  background-image: url('../../assets/ultra-wide.jpg');
  background-size: cover;
  background-position: center;
}

.intro h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px -2px black;
  font-weight: normal;
  margin-left: 30px;
  margin-bottom: 40px;
  transform: translateY(-60px);
}

.about {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 450px;
  border-radius: 10px;
  margin-top: 75px;
  margin-left: 20px;
}

.about h3,
.about p,
.about li {
  transform: translateX(20px);
}

.about h2 {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: var(--theme-color);
  margin: 0;
  margin-top: 15px;
}

.about h3 {
  color: var(--theme-color);
  margin-top: 10px;
}

.about p,
.about li {
  color: var(--text-color);
}

.about ul {
  transform: translateX(-25px);
}

.right-image {
  display: flex;
  justify-content: right;
  position: relative;
  margin-top: 75px;
  margin-right: 50px;
  width: var(--right-image-width);
  max-width: 600px;
  background-image: url('../../assets/office-wide.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px 10px 50px 10px;
}

@media screen and (min-width: 1500px) {
  .about {
    margin-left: 120px;
  }

  .right-image {
    margin-right: 150px;
  }
}

@media screen and (max-width: 1050px) {
  .main-about {
    align-items: center;
    flex-direction: column;
  }

  .right-image {
    margin-top: 20px;
    width: 75vw;
    height: 300px;
    border-radius: 10px;
  }

  .about {
    transform: translateX(-10%);
  }
}

@media screen and (max-width: 850px) {
  .intro {
    margin-top: 80px;
    height: 300px;
  }  
}

@media screen and (max-width: 500px) {
  .about {
    width: 300px;
    height: 350px;
  }

  .intro h1 {
    font-size: 2rem;
  }
}