* {
  box-sizing: border-box;
}

:root {
  --right-image-width: calc(100vw - 600px);
}

.main-contact {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.intro-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100vw;
  background-image: url('../../assets/ultra-wide.jpg');
  background-size: cover;
  background-position: center;
}

.intro-contact h1 {
  font-size: 3rem;
  color: white;
  font-weight: normal;
  text-shadow: 2px -2px black;
  transform: translateY(-60px);
}

.contact {
  display: grid;
  grid-template-areas: 
  'card card'
  'card card'
  'card card';
  position: relative;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 5px;
  margin: 10px;
}

.card h3 {
  display: flex;
  justify-content: left;
  font-size: 1.7rem;
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--theme-color);
}

.card p {
  margin: 0;
  margin-top: 5px;
  color: var(--text-color);
}

.card p:first-child {
  margin-top: 0;
}

.card a {
  text-decoration: none;
  color: var(--text-color);
  margin-top: 5px;
}

.PO-box {
  color: var(--text-color);
}

.address,
.PO-box {
  display: flex;
}

.cvr {
  color: var(--text-color);
}

.card a:hover {
  cursor: pointer;
  color: var(--theme-color);
}

.icon {
  transform: translateY(20%);
  margin-right: 10px;
  color: var(--theme-color);
}

.card-img {
  width: 300px;
  height: 255px;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-position: 0 -20px;
}

#officeQaqortoq .card-img {
  background-image: url('../../assets/office.jpg');
  height: 165px;
  background-position: 0 -30px;
}

#officeNuuk .card-img {
  background-image: url('../../assets/officeNuuk.jpg');
  height: 225px;
  background-position: center;
}

#laila .card-img {
  background-image: url('../../assets/employees/Laila\ Lund.jpg');
  height: 225px;
  background-position: 0 -20px;
}

#stine .card-img {background-image: url('../../assets/employees/Stine\ Semsen.jpg');}

#pitti .card-img {background-image: url('../../assets/employees/Pitti\ Semsen.jpg');}

#niviaq .card-img {background-image: url('../../assets/employees/Niviaq\ A.\ Petersen.jpg');}

#sikkersoq .card-img {
  background-image: url('../../assets/employees/Sikkersoq\ Berthelsen.jpg');
  background-position: 0 -15px;
}

@media screen and (min-width: 1000px) {
  .contact {
    grid-template-areas: 
    'card card card'
    'card card card';
  }
}

@media screen and (max-width: 800px) {
  .intro-contact {
    margin-top: 80px;
    height: 300px;
  }

  .contact {
    padding-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .contact {
    grid-template-areas: 
    'card'
    'card'
    'card'
    'card'
    'card'
    'card'
    'card';
  }
}

@media screen and (max-width: 500px) {
  .intro-contact h1 {
    font-size: 2rem;
  }
}