* {
  box-sizing: border-box;
}

.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100vw;
  background-image: url('../../assets/ultra-wide.jpg');
  background-size: cover;
  background-position: center;
}

.intro h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px -2px black;
  font-weight: normal;
  margin-top: 50px;
  transform: translateY(-60px);
}

.intro h2 {
  color: white;
  margin-top: 0;
  font-weight: normal;
  font-size: 2.5rem;
  text-shadow: 2px -2px black;
}

.short-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 300px;
}

.short-introduction h2 {
  color: var(--theme-color);
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 2rem;
}

.description p {
  color: var(--text-color);
  text-align: center;
}

.bottom-image {
  display: flex;
  position: relative;
  justify-content: center;
  width: 60vw;
  max-width: 1000px;
  height: 300px;
  min-height: 20vw;
  margin-top: 40px;
  border-radius: 10px;
  background-image: url('../../assets/winter.jpg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 850px) {
  .intro {
    margin-top: 80px;
    height: 300px;
  }

  .bottom-image {
    width: 90vw;
  }
}